.login {
    border: 1px solid #6f6f6f;
    border-radius: 5px;
    padding:10px;
    max-width: 500px;
    width:90%;
}

.mw-500 {
    max-width: 500px;
    width: 90%;
}

.color-red {
    color: red;
}

